$color-background: #303030;
$color-background-dark: scale-color($color-background, $lightness: -50%);
$color-background-light: scale-color($color-background, $lightness: 10%);
$color-background-lighter: scale-color($color-background, $lightness: 30%);
$color-text: #ffffff;

$color-primary: #627600;
$color-primary-light: #92a53a;
$color-primary-dark: #354a00;

$color-secondary: #306B9F;
$color-secondary-light: #6599d0;
$color-secondary-dark: #004170;

$color-positive: #2E7D32;
$color-negative: #D32F2F;

$border-radius-value: 2rem;
$border-radius-all: $border-radius-value;
$border-radius-lagging: 0 $border-radius-value 0 $border-radius-value;
$border-radius-leading: $border-radius-value 0 $border-radius-value 0;
$border-radius-bottom: $border-radius-value $border-radius-value 0 0;
$border-radius-top: 0 0 $border-radius-value $border-radius-value;
$border-radius-no-top-left: 0 $border-radius-value $border-radius-value $border-radius-value;