@import "../styles/variables";

.character-page-container {
  .page-container {
    padding: 1vmax;
    flex-grow: 1;
    .page-column {
      height: 100%;
      padding: 1vw;
      background-color: $color-background;

      .header-row {
        margin-bottom: 1.5rem;
      }

      .main-row {
        flex-grow: 1;

        .background-box,
        .harm-box {
          background-color: $color-background-light;
          padding: 1.5rem;
          border-radius: $border-radius-lagging;
        }

        .avatar-box {
          background-image: url("../assets/background.png");
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: $border-radius-lagging;
          img {
            width: 100%;
          }
        }

        .details-box,
        .drives-box,
        .avatar-box,
        .nature-box,
        .connections-box,
        .stats-box,
        .harm-box,
        .feats-box,
        .skills-box,
        .moves-box {
          .title {
            font-size: 2rem;
            text-align: center;
            background-color: $color-background-light;
            padding: 0.75rem;
            border-radius: $border-radius-leading;
          }
          margin-bottom: 2rem;
        }

        .stats-box {
          .stat-row {
            margin-bottom: 0.5rem;
            .stat-name {
              font-size: 2rem;
              text-align: center;
              background-color: $color-background-light;
              padding: 0.75rem 1.25rem;
              border-radius: $border-radius-leading;
            }
            .stat-value {
              font-size: 2rem;
              width: 4rem;
              height: 4rem;
              text-align: center;
              border-radius: 2rem;
              background-color: $color-background-light;
              margin-right: 1rem;
              line-height: 4rem;
            }
          }
        }

        .harm-box {
          .harm-row {
            .MuiCheckbox-root {
              padding: 0.1rem;
            }
            .harm-name {
              font-size: 1.5rem;
              margin-left: 1rem;
              text-transform: uppercase;
              letter-spacing: 0.1rem;
            }
          }
        }
      }

      .moves-box,
      .connections-box,
      .nature-box,
      .drives-box,
      .equipment-box {
        .options {
          .container {
            padding: 0.5rem 0;
            position: relative;

            .box {
              padding: 1rem;
              border: 0.25rem solid $color-background-light;
              border-radius: $border-radius-lagging;

              .name {
                font-size: 1.25rem;
                font-weight: 500;
                flex-grow: 1;
              }

              .source {
                font-style: italic;
                font-size: 0.9rem;
              }

              .blurb {
                margin-top: 1rem;
                font-size: 1rem;
                line-height: 1.25rem;
                .connection-name-entry .MuiInputBase-root {
                  height: 1.25rem;
                  font-size: 1rem;
                  width: 8rem;
                  .MuiInputBase-input {
                    text-align: center;
                  }
                }
              }
            }

            .actions {
              position: absolute;
              right: 1rem;
              top: 1rem;
            }
          }
        }

        .new-equipment-button {
          height: 100%;
          .new-box {
            height: 100%;
          }
        }

        .new-box {
          border: 0.25rem dashed $color-background-light;
          border-radius: $border-radius-lagging;
          text-align: center;
          padding: 1rem;
          font-size: 1.25rem;
          cursor: pointer;
          user-select: none;

          &:hover {
            border-color: $color-background-lighter;
          }
        }
      }

      .connections-box {
        .description {
          font-style: italic;
          font-size: 0.9rem;
          p {
            padding-left: 0.5rem;
            border-left: 0.25rem dotted $color-text;
          }
        }
      }

      .nature-box,
      .drives-box {
        .description {
          p {
            margin: 0;
          }
        }
      }

      .reputation-row {
        .title {
          position: relative;
          overflow: hidden;
          text-align: center;
          margin-bottom: 2rem;

          span {
            display: inline-block;
            font-size: 2rem;
            z-index: 1;
            background-color: $color-background-light;
            padding: 0.5rem 2rem;
            @media (min-width: 960px) {
              padding: 0.5rem 4rem;
            }
            border-radius: $border-radius-leading;
          }

          &::before,
          &::after {
            position: absolute;
            top: 51%;
            overflow: hidden;
            width: 50%;
            height: 0px;
            content: "\a0";
            border-bottom: 2px dashed $color-background-light;
          }

          &::before {
            margin-left: -50%;
            text-align: right;
          }
        }

        .reputation-table table tbody {
          .faction-row {
            td {
              .checkbox {
                padding: 0.05rem;
              }
              &.spacer {
                padding: 0.3rem;
              }
            }
          }

          .status-row {
            th {
              position: relative;
              overflow: hidden;
              text-align: center;

              &.notoriety {
                color: $color-negative;
                &::before,
                &::after {
                  border-bottom: 2px solid $color-negative;
                }
              }
              &.prestige {
                color: $color-positive;
                &::before,
                &::after {
                  border-bottom: 2px solid $color-positive;
                }
              }

              span {
                display: inline-block;
                z-index: 1;
                background-color: inherit;
                padding: 0 0.5rem;
              }

              &::before,
              &::after {
                position: absolute;
                top: 51%;
                overflow: hidden;
                width: 50%;
                height: 0px;
                content: "\a0";
              }

              &::before {
                margin-left: -50%;
                text-align: right;
              }
            }
          }
        }
      }

      .equipment-box {
        .title {
          font-size: 2rem;
          text-align: center;
          background-color: $color-background-light;
          padding: 0.75rem;
          margin: 0.5rem;
          border-radius: $border-radius-leading;
          .total-value {
            font-size: 1.25rem;
            margin-left: 1rem;
            font-style: italic;
          }
        }
        .equipment-container {
          border-radius: $border-radius-top;
          @media (min-width: 960px) {
            border-radius: $border-radius-no-top-left;
          }

          .equipment-item {
            padding: 0.5rem;
            position: relative;
            .equipment-actions {
              position: absolute;
              right: 1rem;
              top: 1rem;
            }
            .item-container {
              border: 0.25rem solid $color-background-light;
              padding: 1rem;
              border-radius: $border-radius-lagging;
              height: 100%;
              .item-name {
                font-weight: bolder;
                font-size: 1.5rem;
                input {
                  font-weight: bolder;
                  font-size: 1.5rem;
                  width: 12rem;
                }
              }
              .item-value {
                font-size: 1rem;
                input {
                  font-size: 1rem;
                  width: 3rem;
                }
              }
              .MuiCheckbox-root {
                padding: 0.05rem;
              }
            }
          }
        }
      }
    }
  }

  .playbook-name {
    font-size: 3rem;
    text-align: center;
    white-space: nowrap;
    padding: 0.5rem 2rem;
  }

  .playbook-blurb {
    font-size: 1.25rem;
    padding-left: 2rem;
    text-align: center;
  }

  .text-field {
    padding: 0.5rem;
  }
}
